<div class="main-container">
  <!-- Header -->
  <app-header />

  <!-- Content Area -->
  <div class="content-container">
    <div class="content-area">
      <div class="dashboard-grid">
        <!-- Panel del Tanque de Agua (Lado Izquierdo) -->
        <app-water-tank />

        <!-- Panel de Gráficas (Lado Derecho) -->
        <div class="charts-panel">
          <app-water-level-graph />
          <!-- Tabla de Consumidores -->
          <app-consumers />
        </div>
      </div>
    </div>
  </div>
</div>
