<div class="consumers-section">
  <div class="card">
    <div class="card-header">
      <h3>
        Consumidores Activos
        <span class="badge badge-info">{{ consumers$.lift.length }} activos</span>
      </h3>
    </div>
    <div class="card-block">
      <clr-datagrid>
        <!-- Codigo de casa -->
        <clr-dg-column [clrDgField]="'houseCode'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            Código de Casa
          </ng-container>
        </clr-dg-column>
        <!-- Metors cubicos maximos -->
        <clr-dg-column [clrDgField]="'maxCubicMeters'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            Max. (m³)
          </ng-container>
        </clr-dg-column>
        <!-- Metros cúbicos minimos -->
        <clr-dg-column [clrDgField]="'minCubicMeters'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            Min. (m³)
          </ng-container>
        </clr-dg-column>
        <!-- Metros cúbicos seguros -->
        <clr-dg-column [clrDgField]="'sevCubicMeters'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            Seguro (m³)
          </ng-container>
        </clr-dg-column>
        <!-- Metros cúbicos actuales -->
        <clr-dg-column [clrDgField]="'curCubicMeters'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            Actuales (m³)
          </ng-container>
        </clr-dg-column>
        <!-- Porcentraje actual -->
        <clr-dg-column [clrDgField]="'currentPercent'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            % Actual
          </ng-container>
        </clr-dg-column>
        <!-- Tuberia -->
        <clr-dg-column [clrDgField]="'pipe'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            Tuberia
          </ng-container>
        </clr-dg-column>
        <!-- Estado -->
        <clr-dg-column [clrDgField]="'status'">
          <ng-container *clrDgHideableColumn="{ hidden: false }">
            Estado de Bomba
          </ng-container>
        </clr-dg-column>

        <!-- Filas -->
        <clr-dg-row
          *clrDgItems="
            let consumer of (consumers$ | async) || [];
            trackBy: trackById
          "
          [clrDgItem]="consumer"
        >
          <clr-dg-cell>
            <strong>{{ consumer.id }}</strong>
          </clr-dg-cell>

          <clr-dg-cell>
            <strong
              >{{
                consumer.waterTank?.maximumVolume | number : "1.2-2"
              }}
              (m³)</strong
            >
          </clr-dg-cell>

          <clr-dg-cell>
            <strong
              >{{
                consumer.waterTank?.minimumVolume | number : "1.2-2"
              }}
              (m³)</strong
            >
          </clr-dg-cell>

          <clr-dg-cell>
            <strong
              >{{
                consumer.waterTank?.saveVolume | number : "1.2-2"
              }}
              (m³)</strong
            >
          </clr-dg-cell>

          <clr-dg-cell>
            <strong
              >{{
                consumer.waterTank?.currentVolume | number : "1.2-2"
              }}
              (m³)</strong
            >
          </clr-dg-cell>

          <clr-dg-cell>
            <strong
              >{{
                consumer.waterTank?.currentPercentage | number : "1.2-2"
              }}
              %</strong
            >
          </clr-dg-cell>

          <clr-dg-cell>
            <strong>{{ consumer.waterPipe.pipeType }}</strong>
          </clr-dg-cell>

          <clr-dg-cell>
            <span
              class="badge"
              [ngClass]="
                consumer.waterTank?.filling ? 'badge-success' : 'badge-warning'
              "
            >
              {{ consumer.waterTank?.filling ? "Consumiendo" : "Apagada" }}
              <span class="clr-sr-only">
                Bomba de agua
                {{ consumer.waterTank?.filling ? "encendida" : "apagada" }}
              </span>
            </span>
          </clr-dg-cell>
        </clr-dg-row>

        <!-- Footer con información -->
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
              Consumidores por página
            </clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de
            {{ pagination.totalItems }} consumidores
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>

      <!-- Resumen de consumo total -->
      <!-- <div class="consumption-summary">
              <div class="summary-item">
                <cds-icon shape="users" size="lg"></cds-icon>
                <div class="summary-content">
                  <h4>{{ consumers.length }}</h4>
                  <p>Total de casas</p>
                </div>
              </div>
              <div class="summary-item">
                <cds-icon shape="bolt" size="lg"></cds-icon>
                <div class="summary-content">
                  <h4>{{ totalActiveConsumers }}</h4>
                  <p>Consumiendo ahora</p>
                </div>
              </div>
              <div class="summary-item">
                <cds-icon shape="storage" size="lg"></cds-icon>
                <div class="summary-content">
                  <h4>{{ getTotalCubicMeters() }} m³</h4>
                  <p>Consumo total acumulado</p>
                </div>
              </div>
            </div> -->
    </div>
  </div>
</div>
